/*font-family: 'Lobster', cursive;*/
/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Playfair Display', serif;*/

.navMargin {
    margin-right: 0px;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: rgba(51, 51, 51, 0.7);
}

.navbar-inverse .navbar-nav>li>a {
    color: lightgray;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: white;
    background-color: rgba(51, 51, 51, 0.9);
}

.lobster {
    font-family: 'Lobster', cursive;
}

.lobsterWhite {
    color: white;
    font-size: 52px;
    margin-bottom: 35px;
}

.lobsterColor {
    color: #f8512f;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

#carousel-example-generic {
    height:500px;
    /*margin-top:0px;*/
}

.carousel-inner .item {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}

.wood {
    background-image:url(../img/wood-2.jpg);
}

.restaurant-2 {
    background-image: url(../img/restaurant-2.jpg);
}

.farm-2 {
    background-image: url(../img/farm-2.jpg);
}

.carousel-caption {
    padding-bottom: 100px;
}

.carouselLogo {
    width:325px;
}

.btnCarousel {
    color: white;
    background-color: #f8512f;
    border: 0px;
}

.btnCarousel:hover {
    color: white;
    background-color: #333;
    border:1px solid #f8512f;
}

/*.carousel-inner > .item > img {
    width: 100%;
}*/
/*
.imgC2 {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
      max-width: none;
}*/

.imgC3 {
    /*background:url(../img/farm-2.jpg) no-repeat center center;*/
    position: absolute;
    z-index: -1;
}

.ourStory {
    margin-top: 25px;
}

.osMargin {
    margin-bottom: 150px;
    padding-top: 80px;
}

.marginStory {
    margin: 0px;
    text-shadow: 1px 1px 3px #000;
    font-size: 74px;
}

.marginMan {
    margin-top: 3px;
    font-weight: bold;
}

.jusRaleway {
        text-align: justify;
}

.date h1 {
    color: lightgray;
    font-size: 180px;
    position: absolute;
    bottom: -60px;
    left: 50px;
    z-index: -1;
    font-family: 'Playfair Display', serif;
}

.review {
    height:400px;
    /*background: url(../img/food_review.jpg) no-repeat center center;*/
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.imgReview {
    height:400px;
    background: url(../img/food_review.jpg);
    background-size:cover;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    background-attachment: fixed;
}

.reviewContent {
    background-color: rgba(51, 51, 51, 0.7);
    /*opacity: 0.8;*/
    color: white;
    text-align: center;
    margin-top: 125px;
    border-radius: 6px;
    padding: 15px;
}

.bee {
    text-shadow: 1px 1px 3px #000;
    margin-bottom: 10px;
}

.beeQuote {
    font-size: 18px;
}

.menu {
    background: url(../img/black_linen.png);
}

.menuMargin {
    margin-bottom: 15px;
}

.navbar-inverse .navbar-toggle {
    border-color: #333;
    background-color: #333;
}

.navPad {
    padding-left: 0px;
    padding-right: 0px;
}

.nav-tabs.nav-justified>li>a:hover {
    background-color: rgba(51, 51, 51, 0.7);
    border:1px solid #f8512f;
}

.menuDisplay {
    display: inline-flex;
}

.menuTitle {
    font-size: 95px;
}

.menuThumb {
    padding: 0px;
}

.menuTab {
    font-size: 14px;
    font-weight: 900;
}

.thumbnail {
    border: 0px;
    border-radius: 0px;
    padding: 10px;
}

.imgThumb {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 4px;
}

.min100 {
    min-width: 100%;
}

.bottomColor {
    background-color: #f8512f;
    padding-bottom: 20px;
}

.contactHead {
    font-size: 46px;
    font-weight: bold;
    color: white;
}

.contactText {
    color:white;
}

/*.footerPad {
    padding-left: 0px;
}*/

.socialRaleway {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    display: table-row;
}

.socialFooter {
    color: white;
    font-family: 'Playfair Display', serif;
    display: table-row;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #f8512f;
}

a:focus, a:hover {
    color: #f8512f;
}
